body, html {
  /*background: linear-gradient( #005566, #00FFFF);*/
  background-image: url("../assets/images/justSky.jpg");
  background-size: 1275px 1050px;
  
  width: 1275px;
  overflow: hidden;
}
* {
    box-sizing: inherit;
}

h1 {
  color:red;
}


button{
	color:red;
	background: #550055;
}



.totalDiv{
	width: 1200px;
	height: 1000px;
}

form{
	display: inline-block;
	width: 500px;
	height: 25px;
}

label{
	display: inline-block;
	width: 400px;
	height: 25px;
}

span{
	color: yellow;
}

#start{
	height: 100px;
	width: 1250px;
	margin-left: 0px;
}

@keyframes example {
    0% { width: 50px; }
    50% { width: 55px; }
    100% { width: 50px;}
}

@keyframes netKeyFrame {
	0% { transform: rotate( 0deg ); }
	25% { transform: rotate( 45deg ); }
	50% { transform: rotate( 45deg ); }
	75% { transform: rotate( -45deg );}
	100% { transform: rotate( -45deg );}
}

.imgPreStart{ 
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}

.netClass{
	width: 40px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0px;
}		


/*#firstDuck, #secondDuck, #thirdDuck, #fourthDuck, #fifthDuck, #sixthDuck */ 
.imgBegin{ 
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0px;
	animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

.net{
	width: 40px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	animation-name: netKeyFrame ;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes duckMoveKeyFrame{
	0% { transform: translateX(0px); }
	50% { transform: translateX( 50px); }
	100% { transform: translateX( 0px);}
}

.duckMove{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	animation-name: duckMoveKeyFrame, example;
	animation-duration: 1s, 1s;
	animation-iteration-count: 1, infinite;
	animation-timing-function: linear;
}



#bottomDuck{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
}

.displayNone{
	display: none;
}

ul{
	list-style-type: none;

}
li{
	display: inline;
	width: 100px;
	padding: 10px;
	border-style: inset;
	margin-right:10px;
}
